<% include layout %>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-8 col-xs-12">
			<h1>Edit</h1>
			<form action="/futsals/<%= results.name %>/edit" method="POST" id="editfutsal">
				<input type="hidden" name="_method" value="PUT"/>
				<label for="name">Name : </label> <input name="name" id="name" type="text" value="<%= results.name %>"> <br><br>
				<label for="address">Address : </label> <input name="address" id="address" type="text" value="<%= results.address %>"> <br><br>
				<label for="phone">Phone : </label> <input name="phone" id="phone" type="text" value="<%= results.phone %>"> <br><br>
				<label for="rate">Rate : Rs </label><input name="rate" id="rate" type="text" value="<%= results.rate %>"> / hour<br><br>
				<label for="openhours">Open Hours : </label><input name="openhours" id="openhours" type="text" value="<%= results.openhours %>"> <br><br>
				<button class="button-filled">Save</button>
			</form>
		</div>
		<div class="col-md-6 col-sm-4 col-xs-12" style="padding-top:4rem">
			<div id="map" style="height:400px"></div>
			<script>
				var map;
				var mp = (<%- JSON.stringify(results) %>);
				var mparr = [0,0];
				if(mp.map !=undefined){
					mparr = mp.map.split(",");
				}
				function initMap() {

					map = new google.maps.Map(document.getElementById('map'), {
						center: {lat: parseFloat(mparr[0]), lng: parseFloat(mparr[1])},
						zoom: 15
					});
					var marker = new google.maps.Marker({
						position: {lat: parseFloat(mparr[0]), lng: parseFloat(mparr[1])},
						map: map,
						title: mp.name,
						icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
					});
				}
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9WM8cPSOvqBUNoy_QTYo0ds8u7ReY2Ms&callback=initMap"
			async defer></script>
		</div>
	</div>
</div>